.payment-card {
    position: relative;
    z-index: 0;

    height: 100%;
    padding: 20px;
    background: var(--bg-color);
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    user-select: none;

    &__img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        pointer-events: none;
    }

    &__top {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    &__type {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
    }

    &__number {
        margin-top: 37px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__bottom {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }

    &__label {
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 175%;
    }

    &__value {
        font-size: 1rem;
        font-weight: 500;
        line-height: 140%;
    }

    &__expired {
        margin: 0 auto 0 40px;
    }

    &__circle {
        position: relative;
        width: 42px;
        height: 28px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 28px;
            height: 28px;
            border-radius: 50%;
        }

        &::before {
            left: 0;
            background: #f94545;
            mix-blend-mode: hard-light;
            z-index: 1;
        }

        &::after {
            right: 0;
            background: #ffb700;
            margin-left: -14px;
        }
    }
}

.new-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    min-height: 170px;
    border-radius: 10px;
    border: 1px dashed #d2d1d6;

    &__text {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        color: #d2d1d6;
    }
}
